<form (ngSubmit)="salvar()">
    <div class="mb-3">
      <label for="exampleInputText1" class="form-label">Nome:</label>
      <input type="text" class="form-control" name="exampleInputNome1" aria-describedby="emailHelp"
        [(ngModel)]="funcionario.nome">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Telefone:</label>
      <input type="text" class="form-control" name="exampleInputTelefone1" [(ngModel)]="funcionario.telefone">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">CPF</label>
      <input type="text" class="form-control" name="exampleCPF1" [(ngModel)]="funcionario.cpf">
    </div>
  
    <div class="mb-3">
      <label for="roleSelect" class="form-label">Função:</label>
      <select id="roleSelect" class="form-select" [(ngModel)]="funcionario.roles" name="exampleRole1">
        <option [ngValue]="0">Funcionario</option>
      </select>
      
    </div>
    
    <div class="mb-3">
      <button type="submit" class="btn btn-success">Salvar</button>
    </div>
  </form>


  